asn1crypto==1.5.1
blinker==1.6.3
click==8.1.7
DBUtils==3.0.3
Flask==2.3.3
flask-htmx==0.3.1
gunicorn==21.2.0
h11==0.14.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
packaging==23.2
pg8000==1.30.5
python-dateutil==2.8.2
scramp==1.4.4
simple-websocket==1.0.0
six==1.16.0
Werkzeug==3.0.1
wsproto==1.2.0
