<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse ms-auto me-4 ">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/tx-errors">TX Errors</a></li>
                <li class="nav-item"><a class="nav-link" href="/recent-blocks">Recent Blocks</a></li>
                <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
            </ul>
        </div>
        <div class="d-none d-md-block">
            <div><span class="btn d-block btn-primary disabled">{{config.cluster}}</span></div>
        </div>
    </div>
</nav>
