<div class="card-body">
    <h5 class="card-title text-warning">Unsupported Format</h5>
    <p class="card-text">
        The search string <span class="font-monospace">'{{ search_string }}'</span> was not recognized.

        Supported formats:
        <ul>
            <li><b>Signature</b> (e.g. 4jvxUpPwq564752PiZ9YvbiaiuhLqUyGQfg3ZcY1MTWctUQvWVQvnXtGCSRcBqPcEZ7fyPpveQxmajasuAMWTBY1)</li>
            <li><b>Slot Number</b> (e.g. 230739932)</li>
            <li><b>Blockhash</b> (e.g. iyE1zMCPKz4mjeSWxNRVufEfLnYL8QxKzJMm8AzDE3d)</li>
        </ul>
    </p>
</div>