<table id="txlist" class="table table-sm table-nowrap card-table">
    <thead>
    <tr>
        <th class="text-muted c-pointer">#</th>
        <th class="text-muted">Included in block</th>
        <th class="text-muted">Timestamp</th>
        <th class="text-muted">Transaction Signature</th>
        <th class="text-muted">Errors</th>
        <th class="text-muted text-end c-pointer">CU requested</th>
        <th class="text-muted text-end c-pointer">Prio Fees</th>
    </tr>
    </thead>
    <tbody class="list">
    {% if limit_exceeded %}
    <tr>
        <td colspan="7" class="text-warning">Result was truncated</td>
    </tr>
    {% endif %}
    {% for tx in transactions %}
    <tr>
        <td>{{ tx.pos }}</td>

        {% if tx.is_successful %}
        <td><span class="badge bg-success-soft">Included</span></td>
        {% else %}
        <td><span class="badge bg-warning-soft">Excluded</span></td>
        {% endif %}
        <td>
            <div class="align-items-center">
                <span class="font-monospace text-muted">
                    {{ tx.utc_timestamp or '--' }}
                </span>
            </div>
        </td>
        <td>
            <div class="d-flex align-items-center font-monospace" style="width:400px">
                <div class="text-truncate">
                    <a href="/transaction/{{tx.signature}}">{{ tx.signature }}</a>
                </div>
            </div>
        </td>
        <td>
            <div class="d-flex align-items-left">
                <table>
                    {% for error in tx.errors_array %}
                    <tr>
                        <td>
                            <span class="font-monospace text-danger" title="Slot {{ error.slot | slotnumber }}">
                                {{ error.count | count }}x&nbsp;&nbsp;{{ error.error }}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if not tx.errors_array %}
                    <tr>
                        <td>
                            <span class="font-monospace text-muted">--</span>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </td>
        <td class="text-end"><span class="font-monospace">{{ tx.cu_requested | lamports }}</span></td>
        <td class="text-end">{{ tx.prioritization_fees | lamports }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
