<table id="datatable" class="able table-sm table-nowrap card-table">
    <thead>
    <tr>
        <th class="text-muted c-pointer">#</th>
        <th class="text-muted">Execution</th>
        <th class="text-muted">Timestamp</th>
        <th class="text-muted">Transaction Signature</th>
        <th class="text-muted">Errors</th>
        <th class="text-muted text-end c-pointer">CU requested</th>
        <th class="text-muted text-end c-pointer">Prio Fees</th>
    </tr>
    </thead>
    <tbody class="list">
    {% for tx in transactions %}
    <tr>
        <td>{{ tx.pos }}</td>

        {% if tx.is_executed %}
        <td><span class="badge bg-success-soft">Executed</span></td>
        {% elif not tx.is_executed %}
        <td><span class="badge bg-warning-soft">Failed</span></td>
        {% endif %}
        <td>
            <div class="align-items-center">
                <span class="font-monospace text-muted">
                    {{ tx.timestamp_formatted }}
                </span>
            </div>
        </td>
        <td>
            <div class="align-items-center text-truncate" style="width:300px">
                <span class="font-monospace">
                    {% if tx.is_executed %}
                        <a href="https://explorer.solana.com/tx/{{ tx.signature }}?cluster={{config.cluster}}">{{ tx.signature }}</a>
                    {% else %}
                        {{ tx.signature }}
                    {% endif %}
                </span>
            </div>
        </td>
        <td>
            <div class="d-flex align-items-left">
                <table>
                    {% for error in tx.errors_array %}
                    <tr>
                        <td>
                            <span class="font-monospace text-danger">
                                {{ error }}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </td>
        <td class="text-end"><span class="font-monospace">{{ tx.cu_requested|default('no CU', True) }}</span></td>
        <td class="text-end">{{ tx.prioritization_fees|default('no fees', True) }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
