<!DOCTYPE html>
<html lang="en">
<head>
    <title>Block Details</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='a72bf4ce55ad4320.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        body {
            font-family: 'Rubik';
            --explorer-default-font: 'Rubik';
        }
    </style>
    {{ turbo() }}
</head>
<body>

    <div class="main-content pb-6">
        <div class="container mt-n2">
            <div class="header">
                <div class="header-body"><h6 class="header-pretitle">Details</h6>
                    <h2 class="header-title">Block {{block.slot}}</h2></div>
            </div>
            <div class="card">
                <div class="card-header"><h3 class="card-header-title mb-0 d-flex align-items-center">Overview</h3>
                </div>
                <div class="table-responsive mb-0">
                    <table class="table table-sm table-nowrap card-table">
                        <tbody class="list">
                        <tr>
                            <td class="w-100">Slot</td>
                            <td class="text-lg-end font-monospace"><span class="font-monospace">{{block.slot}}</span></td>
                        </tr>
                        <tr>
                            <td class="w-100">Blockhash</td>
                            <td class="text-lg-end font-monospace">
                                <span>{{block.block_hash}}</span></td>
                        </tr>
                        <tr>
                            <td class="w-100">Processed Transactions</td>
                            <td class="text-lg-end font-monospace"><span>{{block.processed_transactions}}</span></td>
                        </tr>
                        <tr>
                            <td class="w-100">Successful Transactions</td>
                            <td class="text-lg-end font-monospace"><span>{{block.successful_transactions}}</span></td>
                        </tr>
                        <tr>
                            <td class="w-100">Banking Stage Errors</td>
                            <td class="text-lg-end font-monospace"><span>{{block.banking_stage_errors}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
                <div class="header">
                    <div class="header-body pt-0">
                        <ul class="nav nav-tabs nav-overflow header-tabs">
                            <li class="nav-item"><a class="active nav-link">Accounts</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header align-items-center"><h3 class="card-header-title">Heavily Write-Locked Accounts</h3></div>
                <div class="table-responsive mb-0">
                    <table class="table table-sm table-nowrap card-table">
                        <thead>
                        <tr>
                            <th class="text-muted">Account</th>
                            <th class="text-muted">CU requested</th>
                            <th class="text-muted">CU consumed</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for write_account in block.heavily_writelocked_accounts_parsed %}
                            <tr>
                                <td>
                                    <a href="https://explorer.solana.com/account/{{ write_account.k }}?cluster={{config.cluster}}">
                                        <div class="d-none d-lg-flex align-items-center "><span class="font-size-tiny me-2"><span
                                                class=""></span></span><span
                                                class="font-monospace"><span class="">{{write_account.k}}</span></span>
                                        </div>
                                    </a></td>
                                <td>{{write_account.cu_req}}</td>
                                <td>{{write_account.cu_con}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


</body>
</html>
