<!DOCTYPE html>
<html lang="en">
<head>
    <title>Solana Recent Blocks</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://api.fonts.coollabs.io" crossorigin>
    <link href="https://api.fonts.coollabs.io/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='a72bf4ce55ad4320.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

    <div class="main-content pb-6" hx-trigger="every 2s [{{enable_polling}}]" hx-get="/recent-blocks">

        {% include "_navbar.html" %}

        <div class="container-fluid">
            <div class="card">

                <div class="card-header align-items-center"><h3 class="card-header-title">Recent Blocks</h3>
                    {% if enable_polling!="true" %}
                    <p class="card-text text-warning"><small class="text-body-secondary">Auto-refresh was disabled</small></p>
                    {% endif %}
                </div>
                <!-- mb-0 = margin+padding bottom -->
                <div id="blocklist" class="card-body mb-0 table-responsive">

                    {% include "_blockslist.html" %}

                </div>

            </div>

        </div>
    </div>


</body>
</html>
