<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Block</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="preconnect" href="https://api.fonts.coollabs.io" crossorigin>
  <link href="https://api.fonts.coollabs.io/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='a72bf4ce55ad4320.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<div class="main-content pb-6">

  {% include "_navbar.html" %}

  <div class="container-fluid">

    <div class="card">

      <div class="card-header align-items-center"><h3 class="card-header-title">Search Transactions and Blocks</h3>
      </div>

      <div class="card-body mb-0">

        <div>
          <span class="htmx-indicator">
            <div class="progress" role="progressbar">
              <div class="progress-bar progress-bar-striped bg-info" style="width: 75%"></div>
            </div>
           </span>
        </div>

        <input class="form-control" type="search" value="{{ search_string }}"
               name="search" placeholder="Enter Slot Number or Block Hash or Tx Signature or Account Address..."
               hx-post="/search"
               hx-trigger="keyup changed delay:500ms, search, load"
               hx-target="#search-results"
               hx-indicator=".htmx-indicator">

        <div id="search-results" class="table-responsive m-2">
        </div>

      </div>

    </div>
  </div>

</div>
</body>
</html>
