<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Block</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='a72bf4ce55ad4320.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
  <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <style>
    body {
        font-family: 'Rubik';
        --explorer-default-font: 'Rubik';
    }
  </style>
</head>
<body>

<div class="main-content pb-6">

  {% include "_navbar.html" %}

  <div class="mt-n2">

    <div class="card">

      <div class="card-header align-items-center"><h3 class="card-header-title">Search Transactions and Blocks</h3>
      </div>

      <div>
        <span class="htmx-indicator">
          <div class="progress" role="progressbar">
            <div class="progress-bar progress-bar-striped bg-info" style="width: 75%"></div>
          </div>
         </span>
      </div>

      <input class="form-control" type="search"
             name="search" placeholder="Begin Typing Slot Number or Tx Signature..."
             hx-post="/search"
             hx-trigger="keyup changed delay:500ms, search"
             hx-target="#search-results"
             hx-indicator=".htmx-indicator">

      <div id="search-results" class="table-responsive mb-0">
      </div>

    </div>
  </div>

</body>
</html>
